

header {
  position: relative;
  width: 100%;
  float: left;
  height: 30px;
  background-color: gray;
  padding: 20px;
  text-align: center;
}

.center {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 160px;
  padding: 20px;
}
