/*IDs*/
h3 {
  line-height:1;
}
h4 {
  line-height:1;
  font-weight: 50;
}
h5 {
  line-height:1;
    font-weight: lighter;
}

br {
  line-height: 1;
}

p {
  font-size: 10;
}
.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 30px);
  grid-gap: 0px;

}
.item2 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.item3 {
  grid-column-start: 3;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-1x2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  grid-gap: 15px;
}

.grid-2x4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,1fr);
  grid-gap: 15px;
}

.col-1 {
  position: relative;
  width: 25%;
  float: left;
  height: 100%;
  background-color: #ffffff;
  padding: 10px;


}

.col-2 {
  position: relative;
  width: 70%;
  float: left;
  height: 100%;
  background-color: #ffffff;

}

.col-3 {
  position: relative;
  width: 50%;
  float: left;
  background-color: #ffffff;

}

.blockA {
  background-color:#0080ff;
  font-weight: bold;
  text-transform:uppercase;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
}

.alone {
  position: relative;
  width: 100%;
  float: left;
}
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 160px;
  padding: 20px;

}

/*Classes*/

.horizdiv {
  border-bottom: solid;
  border-color: 000000;

}

.textcenter {
  text-align: center;

}

.justify {
  text-align: justify;
}
